<div layout="row" layout-align="center start">
  <div flex="50" flex-xs="90">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{'forgot.title' | translate}}</span>
        </md-card-title-text>
      </md-card-title>
      <error-box ng-if="vm.hasError">{{vm.hasError | translate}}</error-box>
      <md-card-content>
        <form name="form" ng-submit="vm.submit(form.$valid)" novalidate>
          <md-input-container class="md-icon-float md-block" flex>
            <label>{{'form.username.name' | translate}}</label>
            <md-icon md-font-library="material-icons">person</md-icon>
            <input ng-model="vm.user.username" name="username" type="text" minlength="3" md-maxlength="30" required username-validation ng-disabled="vm.formDisabled">
            <div class="hint">{{'form.username.hint' | translate}}</div>
            <div ng-messages="form.username.$error" ng-if="form.username.$touched" multiple>
              <div ng-message="required">{{'form.required' | translate}}</div>
              <div ng-message="incorrect">{{'form.username.incorrect' | translate}}</div>
              <div ng-message="minlength">{{'form.username.minLength' | translate}}</div>
              <div ng-message="md-maxlength">{{'form.username.maxLength' | translate}}</div>
            </div>
          </md-input-container>
          <div layout="column" layout-align="center">
            <md-button type="submit" class="md-raised md-primary" aria-label="{{'forgot.submit' | translate}}" ng-disabled="!form.$valid || vm.formDisabled">{{'forgot.submit' | translate}}</md-button>
          </div>
        </form>
      </md-card-content>
      <md-progress-linear md-mode="indeterminate" ng-if="vm.formDisabled" class="form-load"></md-progress-linear>
      <md-card-footer layout="column" layout-align="space-around center">
        <md-button ui-sref="auth.login" aria-label="{{'back' | translate}}">{{'back' | translate}}</md-button>
      </md-card-footer>
    </md-card>
  </div>
</div>